<!-- FOOTER -->

<!-- Start of the fluid container -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <!-- Start of the footer -->
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top footer-b">
                
                <!-- Footer text -->
                <p class="col-md-4 mb-0 mx-3 px-2 fw-semibold fs-6" id="footer-text"> 2023 eVariant - INS Proven - DAWBIO M12 </p>

                <!-- Footer navigation links -->
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"> <a href="#" class="nav-link mx-2 px-2 fw-bold fs-5"> Privacy </a></li>
                    <li class="nav-item"> <a href="#" class="nav-link mx-2 px-2 fw-bold fs-5"> Cookies </a></li>
                </ul>

            </footer>
            <!-- End of the footer -->
        </div>
    </div>
</div>
<!-- End of the fluid container -->