<!-- LANDING PAGE HEADER SECTION -->

<script src="./js/components/landing.js"></script>

<section>
    <div class="container-fluid">

        <div class="row">
            <div class="col mt-5 p-5">
             
                <!-- HEADER -->
                <div id="home-header" class="ms-sm-5 text-sm-center ">
                        <h1 class="display-4 fw-bold"><strong>Enhance your research</strong></h1>
                        <p class="fs-5 fw-normal">Explore new insights with eVariant essential biotech applications.</p>
                        <p class="fs-6 fw-semibold">Let’s have a look</p>                
                </div>

            </div>
                <img src="./img/background16@2x.png" class="img-fluid d-none d-lg-block" alt="header image" >  <!-- Alternativa para poder seguir-->
                <!-- <img src="./img/background16@2x.png" class="img-fluid position-absolute d-none d-lg-block" alt="header image" > -->

                <img src="./img/background16@2x.png" class="img-fluid d-block d-lg-none" alt="header image" >
        </div>

    </div>
</section>

<!-- TOOLS SECTION  -->

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="display-3 fw-bold text-center mt-ms-5 mt-lg-5 my-5">Tools</h2>
            </div>
        </div>

        <div class="row justify-content-center my-5">

            <div class="col-sm-12 col-md-6 col-lg-3 mx-5">
                <div class=" m-5 border-0 text-center">
                    <img class="card-img-top rounded" src="./img/Snp.png" alt="Card image cap">
                    <div class="card-body mt-4">
                        <a href="./snp.html" class="text-decoration-none"><h3 class="card-title fw-bold "> SNP Finder</h3></a>
                        <p class="card-text tex-color ">Explore new insights with eVariant essential biotech applications.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 mx-5">
                <div class="m-5 border-0 text-center" >
                    <img class="card-img-top rounded" src="./img/card_phylo.png" alt="Card image cap">
                    <div class="card-body mt-4">
                        <a href="./trees.html" class="text-decoration-none"><h3 class="card-title fw-bold "> Phylogenetic Trees </h3></a>
                        <p class="card-text tex-color ">Explore new insights with eVariant essential biotech applications.</p>
                    </div>
                </div>
            </div>

        </div>      

    </div>
</section>

<!-- TEAM SECTION -->

<section id="team_seccion">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="display-3 fw-bold text-center mt-ms-5 mt-lg-5 my-5"> Team </h2>
            </div>
        </div>

        <div class="row justify-content-center mx-5">

            <div class="col-sm-12 col-md-6 col-lg-3">
                <!-- Card Ani Valle -->
                <div class=" m-5 p-5 border-0 text-center">
                    <img class="card-img-top" src="./img/avatar_ani.png" alt="Avatar Ani">
                    <div class="card-body mt-4">
                        <h3><a class="card-title fw-bold text-decoration-none"  href="https://github.com/AniValle" target="_blank" >Ani Valle</a></h3>
                        <p class="tex-color ">If you want to know a bit more about my work, visit my Github.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <!-- Card Marc Garcia -->
                <div class="m-5 p-5 border-0 text-center">
                    <img class="card-img-top" src="./img/avatar_garcia.png" alt="Avatar Garcia">
                    <div class="card-body mt-4">
                        <h3><a class="card-title fw-bold text-decoration-none"  href="https://github.com/MrGri00" target="_blank" >Marc Garcia</a></h3>
                        <p class="tex-color ">If you want to know a bit more about my work, visit my Github. </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <!-- Card Melania Prado -->
                <div class="m-5 p-5 border-0 text-center">
                    <img class="card-img-top" src="./img/avatar_mel.png" alt="Avatar Mel">
                    <div class="card-body mt-4">
                        <h3><a class="card-title fw-bold text-decoration-none"  href="https://github.com/mepr0206" target="_blank" > Melania Prado </a></h3>
                        <p class="tex-color ">If you want to know a bit more about my work, visit my Github.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <!-- Card Marc Coca -->
                <div class="m-5 p-5 border-0 text-center">
                    <img class="card-img-top" src="./img/avatar_coca.png" alt="Avatar Coca">
                    <div class="card-body mt-4">
                        <h3><a class="card-title fw-bold text-decoration-none"  href="https://github.com/mcocam" target="_blank" > Marc Coca </a></h3>
                        <p class="tex-color">If you want to know a bit more about my work, visit my Github.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- PROJECT SECTION -->
<section>
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <h2 class="display-3 fw-bold text-center my-5"> Project </h2>
            </div>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-sm-12 col-md-6 col-lg-3 mx-5">
                <a href="https://www.proven.cat/intraweb/index.php" target="_blank">
                <img class="card-img-top" src="./img/logo_provenzana.jpg" alt="Logo Instituto Provençana">
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 mx-5">
                <p class="tex-color">This platform has been built as part of the final project for our studies in DAWBIO at Provençana INS. Our goal is to provide basic bioinformatic tools to the scientific community, making research more efficient and effective.</p>
            </div>
        </div>
    </div>
</section>

<!-- SPACE SECTION -->

<div class="m-5 p-5 "></div>

<!-- END SECTION -->
<section>
    <div class="container-fluid img-end-section">
        <div class="row justify-content-around my-5">

            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 my-5">
                <h2 class="display-3 fw-bold text-center "> Start using eVariant today! </h1>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 my-5">

                <!-- LOGIN -->
                <div class="row my-5">
                    <button type="button" class="btn btn-outline-info btn-end-section fw-bold" data-bs-toggle="modal" data-bs-target="#login"> I already have an account </button>
                </div>

                <!-- CREATE NEW ACCOUNT -->
                <div class="row my-5">
                    <button type="button" class="btn btn-outline-info btn-end-section fw-bold" id="landing_register"> Create a new account </button>
                </div>

            </div>
        </div>
    </div>
</section>
