<!-- NAVBAR MODAL -->

<!-- SCRIPT JS -->
<script src="./js/components/navbar.js"></script>
<script src="./js/components/logout.js"></script>

<!-- Start of the fluid container -->
<div class="container-fluid">
  <div class="row">
    <div class="col">

      <nav class="navbar navbar-expand-lg bg-white fixed-top d-flex flex-wrap justify-content-lg-between py-3 mb-5">
        <div class="container-fluid">

          <!-- LOGO, REDIRECTS TO THE MAIN PAGE  -->
          <a href="./index.html">
            <img class="navbar-brand mx-3" src="./img/evariant-logo.png" alt="logo" />
          </a>

          <!-- NAVBAR TOGGLER  -->
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- NAVBAR CONTENT -->
          <div class="collapse navbar-collapse " id="navbarSupportedContent">

            <!-- WEB APPLICATIONS -->
            <div class="navbar-nav me-auto mb-lg-0 m-auto justify-content-center">
              <a href="./snp.html" class="nav-link fs-5 fw-bold tex-color"> SNP Finder</a>
              <a href="./trees.html" class="nav-link fs-5 fw-bold tex-color">Phylogenetic Trees</a>
            </div>

            <!-- USER ACTIONS -->
            <div class="navbar-nav justify-content-end col-1">
              <a href="./register.html" class="nav-link fs-5 fw-bold tex-color" id="btn-register">Register</a>
              <button type="button" class="btn btn-outline-light mr-3 px-4 fs-5 fw-bold tex-color" id="btn-login"
                data-bs-toggle="modal" data-bs-target="#login">
                Login
              </button>
              <button type="button" class="btn btn-outline-light mr-3 px-4 fs-5 fw-bold tex-color" id="btn-logout"
                data-bs-toggle="modal" data-bs-target="#logout">
                Logout
              </button>
            </div>

          </div>

        </div>
      </nav>

    </div>
  </div>

</div>

