<!-- @author Ani Valle -->
<!-- Modal -->
<div class="modal fade" id="newRequestPhylo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border border-bottom-0">
                <h2 class="modal-title fs-5 fw-bold mt-2 ms-3" id="phyloRequestTitle"> New Request </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- STEP1 -->
            <div id="phylo_step1">
                <div class="modal-body mb-5 ms-3">
                    <p class="light-text" >STEP 1: Give your request a title.</p>

                    <form>
                        <fieldset>
                            <label class="fs-6 fw-bold"> Request title </label><br>
                            <input type="text" class="form-control"
                            id="phylo_title"  placeholder="2023-03-20 Phylo Tree Request">

                            <div id="pMsgTitle" class="fs-6 text-danger" ></div>
                        </fieldset>
                    </form>
                </div>

                <!-- Footer Step 1 -->
                <div class="modal-footer justify-content-around">
                    <button type="button" class="btn btn-outline-light btn-snpCancel fs-6 fw-bold px-5" data-bs-dismiss="modal"> Cancel </button>
                    <button type="button" class="btn btn-info btn-snpNext fs-6 fw-bold px-5" id="btn_step1" disabled> Next </button>
                </div>
            </div>

            <!-- STEP2 -->
            <div id="phylo_step2" style="display:none;">

                <div class="modal-body">
                    <p class="ms-3 light-text">STEP 2: Upload fasta files to this request.</p>

                    <!-- DRAG AND DROP -->
                    <div id="phylo_drag-drop-zone" class="upload_dropZone rounded-4  text-center  mb-3 p-5">
                
                        <!-- Image uploader -->
                        <img src="./img/Upload_file.svg" alt="Upload File">      
                        <p class="fs-5 fw-bold my-2"> <strong id="text-upload">Click to upload</strong>  or drag and drop</p>
                    
                        <input type="file" class="file-input" id="phylo-file" hidden>
                        
                        <p class="fs-6 my-2"><i>Max. file size 20 MB.</i></p>
                        <div class="upload_gallery d-flex flex-wrap justify-content-center gap-3 mb-0"></div>
                    
                    </div>

                    <!-- Error Message Request -->
                    <div id="msgRequestPhylo"></div>

                     <!-- SPINNER -->
                     <span id="phylo_spinner" class="loader" style="display:none;"></span>

                    <!-- FOOTER STEP 2 -->
                    <div class="modal-footer justify-content-around">
                        <button type="button" class="btn btn-outline-light btn-snpCancel fs-6 fw-bold px-5" id="btn_back_phylo"> Back </button>
                        <button type="button" class="btn btn-info btn-snpNext fs-6 fw-bold px-5" data-bs-dismiss="modal" aria-label="Close" id="phylo_done" onclick="location.reload()" disabled>Done</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/components/phyloRequest.js"></script>