<!-- Modal -->
<div class="modal fade" id="register" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Register</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input id="registerName" type="text" class="form-control" placeholder="jane" aria-label="name"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span id="registerSurname" class="input-group-text" id="basic-addon1">Surname</span>
                        <input type="text" class="form-control" placeholder="Doe" aria-label="surname"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span id="registerEmail" class="input-group-text" id="basic-addon1">Email</span>
                        <input type="text" class="form-control" placeholder="jane.doe@fakemail.com" aria-label="email"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span id="registerPassword" class="input-group-text" id="basic-addon1">Password</span>
                        <input type="text" class="form-control" placeholder="mypassword123" aria-label="email"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go Back</button>
                    <button type="button" class="btn btn-primary" id="registerButton">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>